<head>
<title> Index </title>
</head>


<section class="banner">
<h1>Fwitter</h1>
<a button id="login" type="button" class="default-btn" href="/login">Log In</a>
<a button id="signup" type="button" class="default-btn" href="/signup">Sign Up</a>
</section